.sec2-main-right {
    width: 40rem;
    height: 38rem;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2F3-bg.jpg?alt=media&token=cdf00523-9c30-437d-a1fc-561e9c2b5a28");
    background-size: cover;
    background-repeat: no-repeat; */
    background-blend-mode: darken;
    overflow: hidden;
    /* background-color: #080808b9; */
    background-color: rgba(255, 255, 255, 0.06);
    background-position: -65px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 24px 0 rgba(0, 0, 0, 0.726);
  }

  .sec2-main-right-header {
    height: 3rem;
    margin-bottom: 1rem;
    width: 90%;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #f6f6f9;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
  }

  .sec2-main-right-header::after {
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(45deg, #def107, #da0c0c, #ff0000, transparent);
  }

  .sec2-main-right-body {
    height: 21rem;
    width: 100%;
    border-radius: 0.2rem;
    margin: 0 0 2rem 0;
  }
  
  .sec2-main-right-body-cover li {
    list-style: none;
    margin: 0rem 0.8rem 0.2rem 1.2rem;
    font-size: 1.1rem;
    line-height: 1.35;
    font-weight: 300;
    padding: 0 1.2rem;
  }

  .sec2-main-right-body-cover li span {
    margin: 0 0.5rem 0 0;
    font-size: 2rem;
    color: rgb(85, 241, 13);
    vertical-align: bottom;
  }


  .sec2-main-right-footer-cta {
    height: 7rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sec2-right-footer-cta-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    background-color: rgba(255, 255, 255, 0.06);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.726);
    cursor: pointer;
  }

  .sec2-right-cta {
    width: 2.8rem;
    height: 2.8rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.1rem;
    text-align: center;
    margin: 0.5rem 0;
  }

  .sec2-right-cta.wholesale-experts {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Project%20management.png?alt=media&token=3f896f16-1e5d-427a-aa1a-eb748529a005");
  }

  .sec2-right-cta.supply-chain {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Experience.png?alt=media&token=43481439-0d89-40af-8322-de9c94ea98f7");
  }

  .sec2-right-cta.australian-history {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/History.png?alt=media&token=ec3ba570-7172-453a-97f7-f0997521712f");
  } 

  .sec2-right-cta-text {
    width: 7.5rem;
    height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
  }

