
/******* Common Element CSS Start ******/
* {
  outline: none;
}


.main-container {
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  justify-content: center;
  margin: 8rem 0;
}

.sec4-main-header {
  width: 85%;
  display: flex;
  align-items: center;
  height: 5rem;
  margin: 3rem 0;
}

.sec4-main-header-left, .sec4-main-header-right {
  width: 20rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

.sec4-main-header-left {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%, 0 100%);
  z-index: 0;
  background-color: rgb(181 7 7);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 0.3rem;
  padding-right: 4rem;
}

.sec4-main-header-right {
  overflow: hidden;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  left: -5rem;
  z-index: 1;
  background-color: rgb(15, 15, 15);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  padding-left: 3rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.sec4-center-banner {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid rgba(189, 171, 171, 0.568); */
  padding: 2rem 0;
  height: 40rem;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2Fbacground2.jpg?alt=media&token=dba840bd-f2aa-4009-88c7-b78534f357ec");
  border-radius: 0.3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  background-color: #0000008a;
}

.sec4-center-banner.experiences {
  background-image: none;
  background-blend-mode: lighten;
  background-color: transparent;
  /* border: 1px solid rgba(189, 171, 171, 0.568); */
  padding: 2rem 1rem 2rem 0;
  background-color: rgba(255, 255, 255, 0.06);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 4px 24px 0 rgba(0, 0, 0, 0.726);
}

.main {
  margin: 0px 10rem 0 0;
  width: 33rem;
  height: 33rem;
  position: relative;
}
.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 1px solid #ff5100b2;
  border-radius: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
  background: radial-gradient(#2e2d2de0, #030303);
  /* background: radial-gradient(#2e2d2da9, #030303, rgb(185, 204, 19), rgb(184, 22, 184)); */
}
.icon-block {
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  cursor: pointer;
  background: linear-gradient(180deg, rgb(49, 44, 44), rgb(0, 0, 0));
  /* border: 1px solid rgba(85, 51, 6, 0.541); */
}

.icon-block .icon-img {
  margin: 0px auto;
  width: 100%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}

.icon-img {
  color: rgb(223, 37, 37);
  font-size: 2rem;
}

.icon-block .icon-img:hover {
  scale: 1.1;
  transition: 300ms;
  color: #f6f6f9;
}

.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* circle content */
.circle {
  animation: circle-rotate 20s linear infinite;
  -webkit-animation: circle-rotate 20s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  width: 65%;
  height: 65%;
  border: 1px solid #d4b11286;
  border-radius: 50%;
  background: radial-gradient(#000000, #1d1818a9, #383b3bbb);
  background: radial-gradient(#ddf107bb, #da0c0cf6, #c309db52, #ff00003b);
}
.circle .icon-block .icon-img {
  animation: img-rotate 20s linear infinite;
  -webkit-animation: img-rotate 20s linear infinite;
}
/* center logo */
.center-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec4-center-logo-ctn {
  width: 120px;
}
.center-logo img {
  max-width: 100%;
}

/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes circle-rotate {
  from {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}

@-webkit-keyframes circle-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(405deg);
  }
}

@keyframes img-rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-405deg);
  }
}

@-webkit-keyframes img-rotate {
  from {
    -webkit-transform: rotate(-45deg);
  }
  to {
    -webkit-transform: rotate(-405deg);
  }
}


/* Right panel*/

.sec4-right-panel {
  width: 40%;
  padding: 1rem;
  border: 1px solid rgba(241, 241, 241, 0.322);
  border-radius: 0.2rem;
  background-color: #0000007c;
}

.sec4-right-panel-btn-ctn {
  height: 5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.sec4-right-panel-btn-ctn button {
  width: 11rem;
  padding: 1rem;
  font-size: 1rem ;
  background: rgb(181 7 7);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}
