.sec3 {
    width: 100%;
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
       /* -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 24px 0 rgba(0, 0, 0, 0.726);
    background-color: rgba(255, 255, 255, 0.06); */
    padding: 3rem 0;
}

.our-businesses {
    width: 100%;
    position: relative;
    top: -22rem;
    right: 8rem;
    display: flex;
    justify-content: flex-end;
}

.our-businesses h1 {
    position: relative;
    left: 2rem;
    z-index: 9;
    width: 21rem;
    height: 6rem;
    color: #f6f6f9;
    text-transform: uppercase;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    -webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 4px 24px 0 rgba(0, 0, 0, 0.749);
    background: linear-gradient(rgb(78, 70, 70), rgb(13, 13, 14));
    border-radius: 0.2rem;
    font-weight: 600;
  }
  
  .our-businesses h1::after {
    content: "";
    height: 1px;
    width: 100%;
    background: linear-gradient(45deg, #def107, #da0c0c, #d400ff, transparent);
  }
  