.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
  background: linear-gradient(to left top, rgb(1, 6, 15), rgb(11, 38, 70));
}



.sec2 {
  width: 100vw;
  position: absolute;
  top: 100vh;
}