:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: #f6f6f9;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: auto;
}
