.sec1 {
    width: 100%;
    height: 50rem;
    padding: 8rem 0 5rem 0;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2Fbackground%20Circuit.png?alt=media&token=ac5446b6-b80f-452d-9ce2-906e1313e800");
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2Fbackground%20Circuit2.png?alt=media&token=bf09ce43-a5f9-49a6-a3f2-2321cab985e0"); */
    /* background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2Fbackground%20Circuit3.png?alt=media&token=66e25378-57a6-4976-8c11-d7800b9dc8d7"); */
    background-repeat: no-repeat;
    background-position: 100% 90%;
    background-size: 40rem;
  }
  
  .sec1-banner {
    width: 85%;
    height: 45rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    opacity: 1;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    clip-path: polygon(0% 0%,52% 0%,47% 38%,51% 76%,48% 100%,0% 100%,0% 55%);
  }
  
  
  .sec1-banner2 {
    width: 85%;
    height: 45rem;
    opacity: 1;
    z-index: 0;
    position: relative;
    /* box-shadow: 2px 8px 32px 0 rgb(109, 3, 179); */
    bottom: 45rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.3rem;
    background: linear-gradient(to left top, rgb(58 0 0), rgb(181 7 7));
  }
  
  
  .bg-front-cover {
    width: 85%;
    height: 45rem;
    opacity: 1;
    background-color: #0808088a;
    background-blend-mode: darken;
    overflow: hidden;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2F5-bg.jpg?alt=media&token=651a7cfa-abe6-4b8f-a575-f1f4628161bb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -12rem;
  }
  
  .sec1-banner-body {
    width: 100%;
    height: 35rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
  
  }
  
  .banner-body-left {
    width: 50%;
    padding: 0 8rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
    overflow-y: hidden;
  }
  
  .banner-heading {
    font-size: 4rem;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px #f6f6f9;
    background: url("https://firebasestorage.googleapis.com/v0/b/bgwgroupwebapp.appspot.com/o/Background%20Images%2Fback.png?alt=media&token=cce37eed-1dcd-4aed-be8e-b4722d457120");
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 30s linear infinite;
  }

  @keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }
  
  .banner-heading sup {
    font-size: 1rem;
    top: -1rem;
    position: relative;
    color: #f6f6f9;
  }
  
  .banner-body-left h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 1rem 0 1.5rem 0;
    width: 80%;
    color: #f6f6f9;
  }
  
  .banner-body-left button {
    padding: 1rem;
    width: 11rem;
    border-radius: 0.2rem;
    border: none;
    background: rgb(181 7 7);
    font-size: 1rem;
  }

  .banner-body-left button a {
    color: #f6f6f9;
  }
  
  .banner-body-right {
    width: 50%;
    padding: 1rem;
    z-index: 9;
    position: relative;
    right: 0;
    top: 0;
  }
  
  .banner-body-right-top {
    height: 25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-body-right-layer2 {
    width: 45%;
    height: 38rem;
    margin-bottom: 10rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .banner-body-right-layer2 video {
    width: 90%;
    object-fit: contain;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 24px 0 rgb(22, 21, 21);
  }
  
  .sec1-banner-footer {
    height: 12rem;
    width: 85%;
    margin: 0 auto;
    position: relative;
    bottom: 57rem;
    z-index: 2;
    background: linear-gradient(135deg, rgba(160, 11, 11, 0.1), rgba(255,255,255 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  .sec1-bannner-footer-left {
    padding-left: 4rem;
    width: 50%;
    padding-bottom: 2rem;
  }
  
  .sec1-bannner-footer-left::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background:linear-gradient(to right, transparent, rgb(235, 235, 8), rgb(287, 7, 7) 5%, rgba(80, 7, 226, 0.877), transparent);
    animation: animate 20s linear infinite;
    background-size: 300%;
  }

  @keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 300% 0;
    }
}
  
  .sec1-banner-footer-right {
    width: 45%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }